---
title: "[GitHub Constellation 2018, Toronto] Git Issues at Scale"
---

<div class="page-header">
  <div class="wrapper">
    <%= partial "partials/nav" %>
    <h1 class="page-title">Git Issues at Scale</h1>
    <p class="page-subtitle">GitHub Constellation 2018, Toronto, Canada</p>
    <div class="embed-wrap">
      <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQuv-AhTXU3jJJFMUgum_ViBHcAz1NBpLEUP9CZrT0XOqsv7yvqYzvzbVRjTxF5-jgNZa83TEXalVtD/pubembed?start=false&loop=false&delayms=10000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" width="100%" height="500" webkitallowfullscreen="true"></iframe>
    </div>
  </div>
</div>

<section class="page-content">
  <div class="wrapper">
    <p>This presentation focused on issues Shopify experiences with Git repos, particularly around cloning, pulling, and fetching.</p>
    <p>The talk includes an overview of a solution we're working on, as well as future work considerations.</p>
    <p><a href="http://notes.burke.libbey.me/metarepo/">Monorepo, Manyrepo, Metarepo resource</a></p>
  </div>
</section>
