@import 'variables';

nav {
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 20px;

    li {
      display: inline;
      list-style-type: none;
      padding-right: 20px;
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          color: $dark-blue;
        }
      }
    }
  }
}