@import 'variables';

.homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;

  h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }

  a {
    color: $white;
    &:hover {
      color: $dark-blue;
    }
  }
}

h1#presentations_work {
  padding-left: 0.5em;
  padding-top: 1em;
}
