$break-small: 550px;
$break-medium: 768px;
$break-large: 1000px;

$blue: #025aa5;
$dark-blue: #001f38;
$white: #fff;

* {
  font-family: 'helvetica-light', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  min-height: 100%;
}

pre, pre > *, pre *, code, code > *, code * {
  font-family: monospace;
}

h1, h2, h3, h4, h5, h6, pre {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: $dark-blue;
}

img {
  max-width: 100%;
}

// Utilities

.dark {
  color: $dark-blue;
}

.white {
  color: $white;
}

.background {
  background: $blue;
}

.fill {
  height: 100%;
  width: 100%;
}

.upcase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.iframe-box {
  margin-top:    20px;
  position:      relative;
  width:         100%;
  height:        0;
  padding-top:   39%; /* This is your aspect ratio */ 

  iframe {
    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
    width:    100%;
    height:   100%
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// Layouts

.container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2em;
  padding-bottom: 2em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: $break-medium) {
    flex-direction: column-reverse;
  }
}

.flex-column {
  flex-direction: column;
}

.flex-item {
  flex: 1;
  min-width: 300px;
}

// Speciality

nav {
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 20px;

    li {
      display: inline;
      list-style-type: none;
      padding-right: 20px;
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          color: $dark-blue;
        }
      }
    }
  }
}

.homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;

  h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }

  a {
    color: $white;
    &:hover {
      color: $dark-blue;
    }
  }
}

h1#presentations_work {
  padding-left: 0.5em;
  padding-top: 1em;
}

.presentations {
  padding: 1em;

  column-gap: 0;
  column-count: 4;

  @media screen and (max-width: $break-large) {
    column-count: 2;
  }

  @media screen and (max-width: $break-small) {
    column-count: 1;
  }

  h1 {
    color: $white;
  }

  a {
    color: transparent;
  }

  .presentation-item {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position-x: 50%;

    opacity: 1;
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;

    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */

    img {
      width: 100%;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}
