$break-small: 550px;
$break-large: 1000px;

$purple: #5c2b5f;
$dark-purple: #180b19;
$white: #fff;

* {
  font-family: 'helvetica-light', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

pre, pre > *, pre *, code, code > *, code * {
  font-family: monospace;
}

h1, h2, h3, h4, h5, h6, pre {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: $dark-purple;
}

img {
  max-width: 100%;
}

// Utilities

.dark {
  color: $dark-purple;
}

.white {
  color: $white;
}

.background {
  background: $purple;
}

.fill {
  height: 100%;
  width: 100%;
}

.upcase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.iframe-box {
  margin-top:    20px;
  position:      relative;
  width:         100%;
  height:        0;
  padding-top:   39%; /* This is your aspect ratio */ 

  iframe {
    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
    width:    100%;
    height:   100%
  }
}

// Layouts

.container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

// Speciality

nav {
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 20px;

    li {
      display: inline;
      list-style-type: none;
      padding-right: 20px;
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          color: $dark-purple;
        }
      }
    }
  }
}

.homepage {
  width: 50%;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin: auto;

  h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }

  a {
    color: $white;
    &:hover {
      color: $dark-purple;
    }
  }

  @media screen and (max-width: $break-large) {
    width: 94%;
    left: 0;
    margin-left: 3%;
    margin-right: 3%;
  }
}

.presentations {
  h1, a {
    color: $white;
  }
}
