input.tab, section.tab {
  display: none;
}

section.tab {
  padding-top: 50px;
}

label.tab {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label.tab:hover {
  color: #888;
  cursor: pointer;
}

input.tab:checked + label.tab {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #025aa5;
  border-bottom: 1px solid #fff;
}

@for $i from 1 through 20 {
  #tab#{$i}:checked ~ #content#{$i}  {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  input.tab:checked + label.tab {
    border: none;
    border-left: 2px solid #025aa5;
  }
}