<div class="content col-md-9 col-md-offset-3 col-xs-12">
  <div class="card-container">

    <div class="card">
      <a href="http://shopify.ca">
        <img src="images/shopify-bag.png" alt="">
        <h2>Developer @ Shopify</h2>
      </a>
    </div>

    <div class="card">
      <a href="https://github.com/CodeForKids/rubysadventure">
        <img src="images/rubysadventure.png" alt="">
        <h2>Ruby's Adventure <br><small>Teaching Ruby to Kids</small></h2>
      </a>
    </div>

    <div class="card">
      <a href="http://codeforkids.ca">
        <img src="images/cfk.png" alt="">
        <h2>Director @ Code For Kids</h2>
      </a>
    </div>

    <div class="card">
      <a href="https://github.com/CodeForKids/cfktracker">
        <img src="images/time.png" alt="">
        <h2>Code For Kids Time Tracker</h2>
      </a>
    </div>

    <div class="card">
      <a href="hhttps://github.com/jules2689/bootstrap_widgets">
        <img src="images/bootstrapwidgets.png" alt="">
        <h2>Bootstrap Widgets <br><small>A Rails Gem</small></h2>
      </a>
    </div>

    <div class="card">
      <a href="https://github.com/CodeForKids/codeforkidswiki">
        <img src="images/wiki.png" alt="">
        <h2>Code For Kids Custom Wiki</h2>
      </a>
    </div>

    <div class="card">
      <a href="https://github.com/CodeForKids/quizzer">
        <img src="images/quizzer.png" alt="">
        <h2>Code For Kids Quizzing Webapp</h2>
      </a>
    </div>

  </div>
</div>
