<nav class="navbar navbar-light bg-faded">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/presentations_work">Presentations &amp; Work</a>
    </li>
  </ul>
</nav>
