<nav class="navbar navbar-light bg-faded">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item <% if current_page.url == "/presentations_work.html" %>active<% end %>">
      <a class="nav-link" href="/presentations_work.html">Presentations &amp; Work</a>
    </li>
  </ul>
</nav>
