<nav class="background">
  <div class="container">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/#presentations">Presentations &amp; Work</a>
      </li>
    </ul>
  </div>
</nav>
