<div class="flex w-screen header-wrapper" > 
  <div class="z-0 absolute w-screen h-full bg-left-top xl:bg-left-bottom bg-cover header" style="background-image: url('/images/header.jpg')"></div>
  <div class="z-50 w-screen lg:w-5/6 text-center sm:text-left sm:ml-12 md:ml-24 my-24 text-gray-900 dark:text-gray-200 antialiased">
    <h1 class="text-5xl md:text-6xl font-bold uppercase">Julian Nadeau</h1>
    <h2 class="text-2xl md:text-3xl font-light">Software Developer & University Instructor</h2>
    <div class="flex mt-2 justify-center sm:justify-start">
      <a class="pr-1" href="https://github.com/jules2689" title="GitHub"><i class="fab fa-github-square"></i> GitHub</a>
      &bull;
      <a class="pr-1 pl-1" href="http://www.linkedin.com/pub/julian-nadeau/49/1b0/721" title="LinkedIn"><i class="fab fa-linkedin"></i> LinkedIn</a>
      &bull;
      <a class="pr-1 pl-1" href="mailto:julian@jnadeau.ca" title="Email"><i class="fas fa-envelope-square"></i> Email</a>
      &bull;
      <a class="pl-1" href="/Resume.pdf" title="Resume"><i class="fas fa-file"></i> Resume</a>
    </div>
  </div>
</div>
