.card-box {
  flex-flow: row wrap;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  -webkit-flex: 1 1 auto;
  display: flex;   
  flex-wrap: wrap;

  .card {
    flex: 1;
    -webkit-flex: 1 1 auto;
    width: 98%;
    min-width: 98%;
    max-width: 98%;
    margin: 1%;
  }
}
