#theme_1 {

  pre {
    background: #444 !important;
    overflow: auto;
    margin: 0 0 1em;
    padding: .5em 1em;

    code, .line-number {
      font: normal normal 12px/14px "Courier New", Courier, Monospace;
      color: #B2B8C2;
      display: block;
    }

    .line-number {
      float: left;
      margin: 0 1em 0 -1em;
      border-right: 1px solid;
      text-align: right;

      span {
        display: block;
        padding: 0 .5em 0 1em;
      }
    }

    .cl {
      display: block;
      clear: both;
    }
  }

  .hljs {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
  }
}
