#theme_1 {

  .front-page-header {
    h1 { color: #000; small { color: #000; }}
    .avatar {
      border-radius: 100px;
      margin-right: 15px;
      margin-top: 27px;
    }
  }

  .front-page-content {
    font-family: 'Roboto Slab', serif;
    margin-top: 15px;
  }

}
