---
title: Code For Kids
---

<div class="w-screen bg-left-top text-gray-50 bg-blue-700 dark:bg-green-900 py-12">
  <%= partial "partials/nav" %>

  <div class="text-center w-screen lg:w-2/3 mx-auto">
    <h1 class="uppercase text-4xl font-bold">Code For Kids</h1>
    <h5 class="uppercase  text-xl font-light">Founder | Not For Profit | 2013-2015</h5>
    <br>
    <div class="block md:flex">
      <iframe width="100%" height="500" src="https://www.youtube.com/embed/nbgI-TqA3j4" frameborder="0" allowfullscreen></iframe>
      <iframe width="100%" height="500" src="https://www.youtube.com/embed/NgTR6HPW2ec" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>


<div class="py-12 mx-auto container w-screen lg:w-2/3 text-center text-gray-800 dark:text-gray-100">
  <h3 class="font-2xl font-semibold">What is Code For Kids?</h3>
  <p>Code For Kids was a Not For Profit (NFP) corporation that aimed to teach children aged 7-13 the basics of coding, technology and design.</p>
  <p>Each event has a different focus so that children could learn about what they are most interested in. Want to learn how your favourite video game works? Maybe you want to learn how to build your own? We helped you accomplish that.</p>
  <p>I believe in encouraging every child's natural curiosity and creativity by giving them the skills they need to explore this new digital world, which is why I founded Code For Kids in 2013.</p>

  <div class="grid md:grid-cols-3 gap-4 py-12">
    <div class="py-2 text-center flex flex-col border bg-white dark:bg-gray-600 rounded-xl shadow-md">
      <div class="">
        <%= image_tag 'images/cfk_icon.png', height: '50', width: '50', class: "mx-auto" %>
        <a class="underline" href="http://codeforkids.myshopify.com/">Code For Kids Website</a>
      </div>
    </div>

    <div class="py-2 text-center flex flex-col border bg-white dark:bg-gray-600 rounded-xl shadow-md">
      <div class="">
        <h2 class="text-lg font-semibold">600+ children</h2>
        <p>were taught at dozens of our events</p>
      </div>
    </div>

    <div class="py-2 text-center flex flex-col border bg-white dark:bg-gray-600 rounded-xl shadow-md">
      <h4 class="text-lg font-semibold">Montreal | Ottawa | Toronto<br>Waterloo | Kingston</h4>
      <p>Cities that hosted our events</p>
    </div>
  </div>

  <h3 class="font-2xl font-semibold">The Background</h3>
  <p>The first Code For Kids (CFK) event was held in April 2013. It was a Scratch event aimed at 7-12 year olds. Scratch is a programming language created for kids and developed by MIT. It can be used to create basic video games. This is still one of our most popular events because the kids love being able to show off what they've made. In September of 2013, CFK was incorporated. This allowed us to expand and help more kids learn to code.</p>
  <p>After 2 years, sponsorship from the Canadian Internet Registration Authority (CIRA), Google, Adobe, Shopify, CompTIA, and more - Code For Kids held its final event.</p>
  <p>Remaining proceeds, laptops, and materials were donated to the Boys and Girls Club of Ottawa</p>
</div>
