---
title: Developer Productivity Community
image: dev_productivity.png
---


<div class="background white">
  <div class="container" style="padding: 20px 0;">
    <h1 class="upcase" style="margin-top: 0">Developer Productivity Community</h1>
    <h5 class="upcase"><a href="https://devproductivity.io">View Website</a></h5>
    <br>

    <div class="flex-container">
      <div class="flex-item">
        <%= image_tag 'unsplash_productivity.jpg', width: '100%' %>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <h2 id="what-is-developer-productivity">What is Developer Productivity?</h2>

  <p>Productivity is defined as “the effectiveness of productive effort, especially in industry, as measured in terms of the rate of output per unit of input.” Therefore, developer Productivity can be described as a concept, set of tools or processes, or a team that is dedicated to enhancing the efficiency of other developers with the goal of allowing them to increase their overall output.</p>

  <p>This concept and the responsibilities of the team in charge of developer productivity can be varied throughout different companies, however after a number of meetings it became clear that the teams mostly focus on a few key areas. Unfortunately, the developers at different companies don’t seem to discuss, have meet-ups, or work together on allied goals.</p>

  <p>Developer productivity is not a business concern nor is most of the work confidential. The work is generally generic and the concepts are easily shared and discussed. Over the course of many meetings with similar teams at other companies, it became obvious that we’re all duplicating each others’ work and more importantly we’re duplicating the exploration.</p>

  <h2 id="vision">Vision</h2>

  <p>Developer Productivity is not a business concern and it is not specific to any company. The concepts are shareable and can help reduce time to explore, gain more feedback and expertise, and allow us to help define standards in the industry.</p>

  <p>If we work together in creating a community and a set of community guidelines - we will all benefit. This is why I decided to found this community.</p>

  <h5 class="upcase"><a href="https://devproductivity.io">View Website</a></h5>

</div>

<br>
