---
title: Tendr - McHacks Winner 2015
image: tendr.png
---

<div class="background white">
  <div class="container" style="padding: 20px 0;">
    <h1 class="upcase" style="margin-top: 0">Tendr - "No one likes being hungry."</h1>
    <h5 class="upcase">McHacks Winner 2015 | <a href="https://devpost.com/software/tendr">View Entry</a></h5>
    <br>

    <div class="flex-container">
      <div class="flex-item">
        <%= image_tag 'tendr2.jpg', height: '400px' %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <p>You don't have any food in your fridge, and you can't decide what to eat. You're on the verge of scurvy, so Kraft Dinner for the sixth time in a row is out of the question.</p>

  <p>You get a message from a match on Tinder. You want to reply with a smooth pick up line, but you're too hungry to think of one. Then it dawns on you... don't you wish there were a Tinder for food?</p>

  <p><strong>Welcome to Tendr.</strong></p>

  <p>Tendr matches you with delicious meals available in your local area. With Tendr, you can finally find the dinner you truly desire.</p>

  <p>Being hungry is hard. Tendr is easy.</p>
</div>

<br>
