.homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em; }
  .homepage h1 {
    font-size: 4rem;
    margin-bottom: 0; }
  .homepage a {
    color: #fff; }
    .homepage a:hover {
      color: #003838; }

h1#presentations_work {
  padding-left: 0.5em;
  padding-top: 1em; }
