* {
  font-family: 'helvetica-light', sans-serif; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

pre, pre > *, pre *, code, code > *, code * {
  font-family: monospace; }

h1, h2, h3, h4, h5, h6, pre {
  margin-top: 0;
  margin-bottom: 0; }

a {
  color: #180b19; }

img {
  max-width: 100%; }

.dark {
  color: #180b19; }

.white {
  color: #fff; }

.background {
  background: #421e44; }

.fill {
  height: 100%;
  width: 100%; }

.upcase {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.iframe-box {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 39%;
  /* This is your aspect ratio */ }
  .iframe-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%; }

.container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }

nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 20px; }
  nav ul li {
    display: inline;
    list-style-type: none;
    padding-right: 20px; }
    nav ul li a {
      color: #fff;
      text-decoration: none; }
      nav ul li a:hover {
        color: #180b19; }

.homepage {
  width: 50%;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin: auto; }
  .homepage h1 {
    font-size: 4rem;
    margin-bottom: 0; }
  .homepage a {
    color: #fff; }
    .homepage a:hover {
      color: #180b19; }
  @media screen and (max-width: 1000px) {
    .homepage {
      width: 94%;
      left: 0;
      margin-left: 3%;
      margin-right: 3%; } }

.presentations h1, .presentations a {
  color: #fff; }
