<a class="comment-link-marker" 
   data-disqus-url="<%= url_for(controller: 'posts', action: 'show', handle: post.handle, only_path: false, protocol: 'https') %>" href="<%= url_for(controller: 'posts', action: 'show', handle: post.handle, only_path: false, protocol: 'https') %>#disqus_thread">0 comments</a>
