<%= render layout: "layouts/card", locals: { object: post, link: post, header_image: post.header_image_url || 'default.jpg' } do %>
  <% unless post.published? %> 
    <span class="label label-info pull-right">Unpublished</span>
  <% end %>

  <div class="date"><h6><%= post.est_created_at.to_formatted_s(:long) %></h6></div>
<% end %>
