/*
 *= require jquery-ui
 *= require_tree .
 *= require_self
 *= require cards
 *= require devise_bootstrap_views
 *= require jquery.datetimepicker
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "pagedown_bootstrap";

html,body {  height: 100%; overflow-x: hidden; }
h1 { font-family: 'Roboto Slab', serif; color: #fff; small { color: #fff; } }
h2 { font-family: 'Roboto Slab', serif; }
ul { list-style-position: inside; }

.front-page-header, .interests-header {
	h1 { color: #000; }
	.avatar {
		border-radius: 100px;
		margin-right: 15px;
		margin-top: 15px;
	}
}

.front-page-content {
	font-family: 'Roboto Slab', serif;
	margin-top: 15px;
}

.dropdown-menu {
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-clip: none;
}

.badge {
  background-color: #ccc;
}

a:hover, a:hover * {
  text-decoration: none;
}
