/*
 *= require_tree .
 *= require_self
 *= require galleria.classic
 *= require highlight
 *= require devise_bootstrap_views
 *= require jquery.datetimepicker
 *= require taggle
 *= require cards
 *= require jquery-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "pagedown_bootstrap";

// General Overrides

html,body {  height: 100%; overflow-x: hidden; }
ul { list-style-position: inside; }
a:hover, a:hover * {
  text-decoration: none;
}

/* Hack for iFrame Overflow */
iframe { z-index: 9; }
.card { z-index: 10; }
/* End Hack */
