/*
 *= require_tree .
 *= require_self
 *= require devise_bootstrap_views
 *= require jquery.datetimepicker
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "pagedown_bootstrap";

html,body {  height: 100%; }
h1 { font-family: 'Roboto Slab', serif; color: #fff; small { color: #fff; } }
h2 { font-family: 'Roboto Slab', serif; }

/* Front Page Card Styles */

.card {
  width:33%;
  border: 1px solid #fff;
  min-width: 300px;
}

.card a {
   position: relative;
}

.card a h2 {
  position: absolute;
  top: -67px;
  left: 0;
  width: 67%;
  background: rgba(255, 255, 255, 0.85);
  text-transform: uppercase;
  padding: 5px;
  padding-left:10px;
  display: none;
  line-height: 28px;
}

.hover {
  display:block !important;
}

.card img {
  width:100%;
  opacity: 0.6;
}
.card img:hover {
  opacity: 1;
}

@media(max-width:991px) {
  .card-container { margin-top: 50px; }
}

@media (min-width:768px) and (max-width:991px) {
  .card { width: 50%; }
}

@media (max-width:600px) {
  .card { width: 100%; }
}
