#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 33%; font-size: 4em; text-align: center; }
#sortable .card { height: 300px; border: 1px solid #ccc; overflow: hidden; }

.widget-button-container {
  margin-top: -50px;
  padding: 5px;
}

.card {
  width:33%;
  border: 1px solid #fff;
  min-width: 300px;
}

.card a {
   position: relative;
}

.card a h2 {
  position: absolute;
  top: -67px;
  left: 0;
  width: 67%;
  background: rgba(255, 255, 255, 0.85);
  text-transform: uppercase;
  padding: 5px;
  padding-left:10px;
  display: none;
  line-height: 28px;
}

.hover {
  display:block !important;
}

.card img {
  width:100%;
  opacity: 0.6;
}
.card img:hover {
  opacity: 1;
}

@media(max-width:991px) {
  .card-container { margin-top: 50px; }
}

@media (min-width:768px) and (max-width:991px) {
  .card { width: 50%; }
}

@media (max-width:600px) {
  .card { width: 100%; }
}
