$sidebar-background: #292929;
$text-color: #fff;
$text-hover: #999;
$link-background: rgba(255,255,255,0.2);
$hr-color: rgba(255, 255, 255, 0.41);

#menu-toggle {
  width: 40px;
  font-size: 30px;
  padding: 5px;
  float: left;
  margin: 10px;
  cursor: pointer;
}

.sidebar-nav {
  li a {
     font-weight: bolder;
     font-size: 12pt;
  }
}

.sidebar-content {
  width: 250px;
  list-style: none;
  padding: 0px;

  li {
    line-height: 40px;

    a {
      display: block;
      text-decoration: none;
      color: $text-color;

      &:hover {
        text-decoration: none;
        color: #fff;
        background: $text-hover;
      }

      &:active, &:focus {
        text-decoration: none;
      }
    }
  }
}

/* Wrapper Code */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: $sidebar-background;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  h3 { font-family: 'Alegreya Sans SC', sans-serif; color: #fff; text-align: center; }

  .blog-sidebar-content {
    bottom: 0px;
    position: absolute;
  }

  .profile {
    color: $text-color;
    padding-top: 20px;

    h1 { font-size: 25px; }
    a {
      color: $text-color;
      &:hover {
        color: $text-hover;
      }
    }
    .avatar {
      border-radius: 75px;
      margin-top: 10px;
    }
  }

  .login {
    bottom: 0;
    position: absolute;
    width: 100%;
    font-size: 14px;
    border-radius: 0;
  }
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Responsive Wrapper Code */

@media(min-width:991px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #page-content-wrapper {
        width: 100%;
    }

    #page-content-wrapper {
      width: auto;
      position: relative;
    }
}
