body { background: rgba(236, 236, 236, 0.15); }
#name { text-transform: uppercase; }
.profile { border-radius: 100px; }
hr { margin: 0; }

/*** ADMIN BAR ****/

.admin {
  top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.52);
}

.admin li {
  list-style-type: none;
  float: left;
  padding-right: 10px;
}

.admin li a {
  color: white;
}

.admin input {
  background: none;
  border: none;
  padding: 0 10px 0 0;
  color: white;
}

/**** POSTS ****/

.post {
  padding-bottom: 30px;
}

#editor {
  overflow:scroll;
  min-height:380px;
  width: 100%;
}

.mirror{
   -moz-transform: scale(-1, 1);
   -webkit-transform: scale(-1, 1);
   -o-transform: scale(-1, 1);
   -ms-transform: scale(-1, 1);
   transform: scale(-1, 1);
}

/*** SIDEBAR ***/
.sidebar {
  height:100%;
  position: fixed;
  background: rgba(70, 154, 208, 0.31);
  z-index: 1000;
}

.sidebar #container{
   position: absolute;
   top: 50%;
   margin-top: -200px;/* half of #content height*/
   left: 0;
   width: 100%;
}
.sidebar #content {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
}

.content {
  padding: 50px;
}

.card {
  width:33%;
  border: 1px solid #fff;
  min-width: 300px;
}

.card a {
   position: relative;
}

.card a h2 {
  position: absolute;
  top: -67px;
  left: 0;
  width: 67%;
  background: rgba(255, 255, 255, 0.85);
  text-transform: uppercase;
  padding: 5px;
  padding-left:10px;
  display: none;
  line-height: 28px;
}

.hover {
  display:block !important;
}

.card img {
  width:100%;
  opacity: 0.6;
}
.card img:hover {
  opacity: 1;
}

/*** Mobile ***/

@media screen and (max-width: 991px) {
  .sidebar {
    height: 300px;
    background: rgba(70, 154, 208, 0.61);
    position: relative;
  }
  .sidebar #container {
    margin-top: -142px !important;
  }
  .sidebar img {
    float: left;
  }
}
@media screen and (max-width: 768px) {
  .sidebar .image {
    display: none;
  }
}
