---
title: Julian Nadeau
---

<%= partial "partials/header" %>

<section class="highlights">
  <div class="wrapper">
    <p class="section-label">Selected highlights</p>
    <h2 class="section-title">Talks, teaching & projects</h2>
    <div class="cards">
      <% data.homepage.each do |entry| %>
        <%=
          partial "partials/card",
            locals: {
              link: entry.link,
              image: entry.image,
              image_attributes: entry.image_attributes,
              year: entry.year,
              type: entry.type,
              title: entry.title,
              description: entry.description
            }
        %>
      <% end %>
    </div>
  </div>
</section>

<section class="blog">
  <div class="wrapper">
    <p class="section-label">Writing</p>
    <h2 class="section-title">Blog posts</h2>
    <div class="cards">
      <%= partial "partials/blog" %>
    </div>
  </div>
</section>
