---
title: Julian Nadeau
---

<div class="full_center">
  <div class="clearfix">
    <img class="avatar pull-left" src="https://www.gravatar.com/avatar/6e01dd682c021a600a943b0a539ed6a2default=&amp;rating=&amp;size=80" alt="Julian Nadeau">
    <h1>Julian Nadeau</h1>
    <div class="pull-left">
      <a href="https://github.com/jules2689"><i class="fa fa-github-square fa-2x"></i></a>
      <a href="https://twitter.com/jules2689"><i class="fa fa-twitter-square fa-2x"></i></a>
      <a href="http://www.linkedin.com/pub/julian-nadeau/49/1b0/721"><i class="fa fa-linkedin-square fa-2x"></i></a>
      <a href="mailto:julian@jnadeau.ca"><i class="fa fa-envelope-square fa-2x"></i></a>
    </div>
  </div>

  <div class="content">
    <p>I am a production engineer at <a href="http://shopify.com">Shopify.</a> I work on Developer Infrastructure.</p>
    <%= link_to 'Presentations and Work', 'presentations_work', class: 'btn btn-secondary' %>
    <a class="btn btn-secondary" href="https://medium.com/@jules2689">Read my Posts</a>
    <a class="btn btn-secondary" href="https://notes.jnadeau.ca">Notes</a>
  </div>
</div>
