---
title: Presentations and Work
---
<div class="fill background">
  <div class="presentations container">
    <h1>Presentations</h1>
    <div class="flex-item presentations upcase">
      <% iterate_folder(%w(presentations work)) do |page| %>
        <div class="presentation-item">
          <% link_to page.path do %>
            <%= image_tag page.data.image %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
