---
title: Presentations and Work
---
<div class="fill background">
  <div class="presentations container">
    <h1>Presentations</h1>
    <ul>
    <% iterate_folder('presentations') do |page| %>
      <li>
        <%= link_to page.path do %>
          <%= image_tag page.data.image %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
